html
    head
        title= title 
    body
        h1= message
        form(method="post" action= "/user")
            p= pusername
            input(type="text" name="username" id="username")
            p= ppass
            input(type="password" name="password" id="password")
            p
            button(type="submit" name="submit") Enter
            p= prevusers
            ul
            each val in users
                li= val.email
